html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	color: #444;
}

h1, h2, h3, p {
	margin: 0;
}

h1 {
	font-size: 6rem;
	line-height: 63px;
	letter-spacing: -1px;
}

h2 {
	font-size: 3rem;
	line-height: 33px;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

h3 {
	font-size: 2rem;
	line-height: 23px;
}

a {
	color: #A0A0A0;
	text-decoration: none;

	&:hover {
		color: #333;
		text-decoration: underline;
	}
}
