/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.wrapper {
		width: 95%;
		padding: 20px;
	}

	.main-left.thirds {
		width: 49%;
	}

	.main-right.thirds {
		.main-right-containers {
			width: 100%;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.main {
		flex-flow: column nowrap;
	}

	.main-left, .main-right, .main-left.thirds, .main-right.thirds {
		width: 100%;
	}

	.main-left {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;

		p {
			display: none;
		}
	}

	.photo-container {
		&:after {
			padding-bottom: 0;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	h1 {
		font-size: 6rem;
	}
	
	.wrapper {
		width: 100%;
		// padding: 0;
	}

	header {
		height: 30%;
		// margin-bottom: 20px;

		.wrapper {
			padding: 20px;

			// &:after {
			// 	font-size: 7rem;
			// 	bottom: -15px;
			// }
		}
	}
}